@charset "UTF-8";

@use "style" as *;

/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*="language-"] {
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: hsla(0, 0%, 100%, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function {
  color: #dd4a68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.code-box-copy {
  position: relative;
  font-size: 13px;
}

.code-box-copy pre[class*="language-"] {
  border: 1px solid #ddd;
  border-radius: 2px;
}

.code-box-copy__btn {
  opacity: 0;
  position: absolute;
  top: 11px;
  right: 11px;
  width: 36px;
  height: 36px;
  background-color: #eee;
  border: 1px solid #ccc;
  color: #333;
  border-radius: 2px;
  -webkit-transition: opacity 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}

.code-box-copy__btn::before {
  display: inline-block;
  content: " ";
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: url(../img/guide/ic-copy.svg) no-repeat 0 0;
}

.code-box-copy:hover .code-box-copy__btn {
  opacity: 1;
}

.code-box-copy__btn:disabled {
  background-color: #eee;
  border-color: #ccc;
  color: #333;
  pointer-events: none;
}

.code-box-copy__btn:hover {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
}

.code-box-copy__btn:focus,
.code-box-copy__btn:active {
  outline: 0;
}

.code-box-copy__tooltip {
  display: none;
  position: absolute;
  bottom: -webkit-calc(100% + 11px);
  bottom: calc(100% + 11px);
  right: 0;
  width: 80px;
  padding: 6px 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  font-size: 13px;
}

.code-box-copy__tooltip::after {
  display: block;
  position: absolute;
  right: 13px;
  bottom: -5px;
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #333 transparent transparent transparent;
}

.guide-codeCopy {
  margin-top: 20px;
}

// 가이드 레이아웃
.guide-layout {
  width: 100%;
  height: 100%;
  color: $color-gray-10;
  .guide-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;

    .gnb {
      .gnb-menu {
        display: flex;
        gap: 5px;
      }
    }
    .logo {
      width: rem(120px);
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: rem(25px);
      img {
        width: rem(60px);
        object-fit: cover;
      }
    }
  }
  .container {
    position: relative;
    width: 100%;
    padding-top: 57px;
  }

  .aside {
    position: fixed;
    top: 57px;
    left: 0;
    z-index: 1;
    width: rem(240px);
    height: 100%;
    padding-top: rem(10px);
    background-color: #fff;
    border-right: 1px solid #ccc;
    overflow-y: auto;
  }
  .nav {
    width: 100%;

    &__item {
      width: 100%;
      height: 50px;
      .link {
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px 20px;
        font-size: 18px;
        text-align: left;
        &.active {
          font-weight: 700;
        }
      }
    }
    &__title {
      border-top: 1px solid #eee;
      margin-top: 10px;
      padding: 10px 20px;
      color: $color-gray-10;
    }
  }
  .sub-nav {
    padding-left: 12px;
  }

  .content {
    width: 100%;
    padding-left: 240px;
    &.lists {
      padding-left: 0;
    }
    & > .inner {
      padding: 20px 30px 60px;
    }
    .guide-title-wrap {
      margin-bottom: 24px;
    }
    .guide-title {
      font-size: 30px;
      color: #363636;
      line-height: 29px;
      font-weight: 700;
    }
    .guide-cont {
      padding: 50px 30px;
      border: 1px solid #eee;
      border-radius: 15px;
    }
  }
}

.guide-section {
  .guide-item {
    &__head {
      margin-bottom: 20px;
    }
    &__tit {
      font-size: 25px;
      font-weight: 700;
      color: #212529;
    }
    padding: 30px 0;
    &:first-child {
      padding-top: 0;
    }
  }
  .guide-typo {
    &__list {
      padding-left: 15px;
    }
    &__box {
      display: flex;
      flex-direction: column;
    }
    &__cate {
      font-size: 16px;
      font-weight: 500;
      line-height: 28px;
      color: #ff8200;
    }
    &__item {
      & ~ .guide-typo__item {
        margin-top: 20px;
      }
    }
  }
}

.guide-color {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.guide-colorChip {
  &__box {
    width: 240px;
    height: 140px;
    border-radius: 6px;
    padding: 24px 20px;
    color: #fff;
  }
  &__tit-box {
    display: inline-flex;
    flex-direction: column;
  }
  &__title {
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
  }
  &__color {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 4px;
    text-transform: uppercase;
  }
}

.guide-comp {
  & ~ .guide-comp {
    margin-top: 30px;
  }
  &__head {
    margin-bottom: 10px;
  }
  &__tit {
    color: #212529;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    display: inline-flex;
    align-items: center;
    &::before {
      content: "";
      display: inline-flex;
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background-color: #212529;
      margin: 0 8px;
    }
  }
  &__body {
    padding-left: 20px;
  }
  &__cont {
    & ~ .guide-comp__cont {
      margin-top: 15px;
    }
  }
  &__cate {
    display: block;
    margin-bottom: 5px;
    color: #212529;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}

// 퍼블리스트
.pub-list {
  padding: 20px 30px 50px;
  &__info {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 rem(20px);
    .pub-list__title,
    .pub-list__data {
      font-size: 14px;
      font-weight: 600;
      line-height: 25px;
    }
  }

  &__title {
    margin-right: 5px;
    & ~ .pub-list__title {
      margin-left: 15px;
    }
  }
  &__data {
    font-weight: 400;
  }

  .pub-table {
    width: 100%;
    margin-bottom: 12px;
    position: relative;
    & ~ .pub-table {
      margin-top: 30px;
    }
    &__title {
      margin-bottom: 8px;
      font-size: 25px;
    }
    th {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      text-align: center;
      color: $color-gray-10;
      padding: 10px 8px;
      background-color: $color-secondary-1;
    }
    table thead th {
      border-right: 1px solid $color-gray-2;
      border-bottom: 1px solid $color-gray-2;
    }
    table tbody td {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: center;
      color: $color-gray-10;
      padding: 10px 10px;
      border-right: 1px solid $color-gray-3;
      border-bottom: 1px solid $color-gray-3;
      &:last-child {
        border-right: 0;
      }
    }
    td {
      &.name {
        text-align: left;
      }
      .link {
        text-decoration: underline;
      }
      &.state {
        font-weight: bold;

        &.wait::before {
          content: "대기중";
        }
        &.del::before {
          content: "취소";
          color: #999;
        }
        &.ing {
          color: #0565f0;
        }
        &.ing2::before {
          content: "추가";
          color: #9622d2;
        }
        &.finish {
          color: #f24d40;
        }
        &.confirming {
          color: orange;
        }
        &.confirmed {
          color: green;
        }
      }
    }
    table tbody tr:hover {
      background-color: $color-gray-1;
      transition: all 0.1s ease-in-out;
    }
  }
}
